html {
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

html, body {
	// background-color: #fafafa;	
	background-color: #fffdf6;	
}

// #app {
// 	position: relative; /* so that footer is stuck to the bottom of the page */
// }

.app-page {
	padding-top: 100px;
	// padding-bottom: 100px; // space for footer
}